.git
.gitignore
.env
.env.backup
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
/vendor
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/hot
/public/storage
/public/build
/tests
.phpunit.cache
coverage
.idea
.vscode
*.md
!README.md
docker-compose.yml
Dockerfile
.dockerignore

